@tailwind base;
@tailwind components;
@tailwind utilities;

/* =====================================================
   ADMIN CONFIRM MODAL
===================================================== */

.admin-confirm-publish {
    background-color: rgb(236 253 245);
    color: rgb(5 150 105);
}

.admin-confirm-archive {
    background-color: rgb(255 247 237);
    color: rgb(234 88 12);
}

.admin-confirm-restore {
    background-color: rgb(239 246 255);
    color: rgb(37 99 235);
}

.admin-confirm-delete {
    background-color: rgb(254 242 242);
    color: rgb(220 38 38);
}

/* Buttons */

.admin-confirm-button-publish {
    background-color: rgb(5 150 105);
}

.admin-confirm-button-publish:hover {
    background-color: rgb(4 120 87);
}

.admin-confirm-button-archive {
    background-color: rgb(234 88 12);
}

.admin-confirm-button-archive:hover {
    background-color: rgb(194 65 12);
}

.admin-confirm-button-restore {
    background-color: rgb(37 99 235);
}

.admin-confirm-button-restore:hover {
    background-color: rgb(29 78 216);
}

.admin-confirm-button-delete {
    background-color: rgb(220 38 38);
}

.admin-confirm-button-delete:hover {
    background-color: rgb(185 28 28);
}
